{{#each blog}}
<div class="contenedor">
    <div class="seccion">
        <div class="col spa_2_of_3">
            <div class="blog-post">
                <h1 class="blog-title">{{namenoticia}}</h1>
                <h2 class="date">{{publicado}}</h2>
                <img class="slide" src="{{imagen}}" alt="">
                <p class="blog-contenido">{{descrip}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}